__pycache__/
*.pyc

.ipynb_checkpoints/

logs/
experiments/
model_checkpoints/

data/

gpt-2/**/data/
gpt-2/**/experiments/
gpt-2/**/logs/

gpt-bert/**/data/
gpt-bert/**/tokenizers/*.json
gpt-bert/**/tokenizers/*.meta.json
gpt-bert/**/data/processed/
gpt-bert/**/model_checkpoints/
gpt-bert/**/logs/

count.py
