accelerate==1.13.0
datasets==4.8.4
evaluate==0.4.6
huggingface-hub==0.36.2
lm-eval==0.4.11
nltk==3.9.4
numpy==2.4.3
pandas==3.0.2
peft==0.19.1
pyarrow==23.0.1
pydantic==2.12.5
pydantic-core==2.41.5
pytablewriter==1.2.1
scikit-learn==1.8.0
scipy==1.17.1
tokenizers==0.22.2
transformers==4.57.3
wandb==0.25.1


